@model IEnumerable<ShoppingCartItem>
@{
    ViewBag.Title = "Giỏ hàng";
}
<link rel="stylesheet" type="text/css" href="~/lib/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/styles/categories_responsive.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="/">Home</a></li>
					<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
				</ul>
			</div>

			<!-- Main Content -->
			<div class="row">
				<table class="table">
					<tr class="text-center">
						<th>STT</th>
						<th>Ảnh sản phẩm</th>
						<th>Tên sản phẩm</th>
						<th>Danh mục</th>
						<th>Giá</th>
						<th>Số lượng</th>
						<th></th>
					</tr>
					@if (Model is not null && Model.Any())
					{
						int i = 0;
						foreach (var item in Model)
						{
							<tr class="text-center">
								<td>@(i+1)</td>
								<td><img src="@item.ProductImage" width="60"/></td>
								<td><a href="/chi-tiet/@item.Alias-p@(item.ProductId)">@item.ProductName</a></td>
								<td>@item.CategoryName</td>
								<td>@item.Price</td>
								<td>@item.Quantity</td>
								<td></td>
							</tr>
							i++;
						}	
					}
				</table>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script src="~/lib/assets/js/categories_custom.js"></script>
	<script src="~/lib/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
}